@import 'normalize';
@import 'fonts';
@import 'global';

:root {
    --screenshot-width: 500px;
    --thumb-color: rgba(255, 255, 255, .5);
    --track-color: rgba(0, 0, 0, .5);
    font-size: 18px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumb-color) var(--track-color);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    position: relative;
    margin-right: 5px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--track-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 20px;
    border-right: 5px solid var(--track-color);
}

.logo {
    padding: 20px 0;
    margin-right: auto;
    transition: padding .5s ease;

    &__img {
        display: block;
        width: 55px;
        height: 55px;
        object-fit: cover;
        transition: width .5s ease, height .5s ease;
    }
}

// .nav-scrolled {
//     transition: background .5s ease;
//     background-color: rgba(#000, .2);

//     .logo {
//         padding: 10px 0;
//     }

//     .logo__img {
//         width: 40px;
//         height: 40px;
//     }
// }

.main-menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all .5s ease;
    
    &--hide {
        opacity: 0;
        z-index: -1;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 615px;
        padding: 0 25px;
    }

    &__list-item {
        list-style: none;
    }
    
    &__list-link {
        @extend %navigation-font;
        transition: color .3s ease 0s;
    }

    &__list-link--active {
        color: $accent-color;
    }

    &__lang {
        padding-right: 20px;
        border-right: 1px solid rgba(#FFF, .5);
        position: relative;
        margin-left: auto;
    }
    
    &__lang-select {
        border: none;
        border-radius: 3px;
        
        @extend %navigation-font;
        background-color: transparent;
        color: inherit;
        cursor: pointer;

        option {
            background-color: rgba(0, 0, 0, .95);
        }
    }

    &__social {
        display: flex;
    }

    &__social-link {
        margin-left: 20px;
    }

    &__social-img {
        display: block;
        fill: $accent-color;
        transition: fill .5s ease;

        &:hover {
            fill: darken($accent-color, 10%);
        }
    }

    &__toggle-btn {
        display: flex;
        width: 0;
        height: 20px;
        position: relative;
        align-items: center;
        cursor: pointer;
        flex-shrink: 0;
        transition: all .5s ease;
        margin-left: 0;
        opacity: 0;
        z-index: -1;
        
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #FFF;
            border-radius: 3px;
        }
    
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: #FFF;
            border-radius: 3px;
            transition: all .5s ease;
        }
    
        &::before {
        }
    
        &::after {
            top: auto;
            bottom: 0;
            width: 50%;
        }
    
        &:hover {
            // opacity: 1;
    
            &::before {
                
            }
    
            &::after {
                width: 100%;
            }
        }

        &--active {
            span {
                display: none;
            }

            &::before {
                top: 9px;
                transform: rotate(-45deg);
            }
        
            &::after {
                width: 100%;
                bottom: 9px;
                transform: rotate(45deg);
            }
        }
    }
}

.header {
    &__slider {
        
    }

    &__slider-wrapper {
        
    }

    &__slider-item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
                190% 61% at 50% 38%,
                rgba(255, 181, 72, 0) 0%,
                rgba(52, 44, 29, 0.8) 73%, #08090A 100%
            );
        }
    }

    &__slider-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left bottom;
        z-index: -1;
    }

    &__area {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        padding: 95px 0 92px;
    }

    &__content {
        z-index: 55;
    }

    &__title {
        @extend %h1-font;
        margin-bottom: 5px;
    }

    &__subtitle {
        @extend %h4-font;
        margin-bottom: 30px;
    }

    &__btn {
        margin-bottom: 50px;

        & .price {
            border-left: 1px solid $btn-text-color;
            padding-left: 14px;
            margin-left: 10px;
            transition: border .5s ease;
        }

        &:hover .price {
            border-left: 1px solid $accent-color;
        }
    }

    &__scroll {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: -93px;
        padding-bottom: 50px;
        z-index: 1;
    }
    
    &__scroll-btn {
        display: block;

        svg {
            display: block;
            margin: 5px auto 0;
            stroke: #FFF;
            transition: stroke .5s ease;
        }
        
        &:hover svg {
            stroke: $accent-color;
        }
    }

    &__scroll-text {
        display: block;
        text-transform: uppercase;
    }
}

.about {
    background: url(../images/about-gradient.png) 0 0 / cover no-repeat, url(../images/about-bg.jpg) center / cover no-repeat;

    &__area {
        display: flex;
        align-items: center;
    }
    
    &__row {
        display: flex;
        // flex-direction: column;
        width: 100%;
    }

    &__content {
        max-width: 550px;
        margin-right: 30px;
    }

    &__subtitle {
        margin-top: 55px;
    }

    &__title {
        position: relative;
        width: 710px;
        margin-bottom: 60px;
        padding-bottom: 4px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: -15px;
            bottom: 0;
            height: 3px;
            // width: 101%;
            background-color: $text-color;
            z-index: 2;
        }
    }

    &__text {
        width: 365px;
        margin-left: auto;
    }

    &__paragraph + &__paragraph {
        margin-top: 20px;
    }

    &__slider {
        width: 100%;
        margin-top: 20px;
        // flex-grow: 1;
        max-width: 620px;
        // background-color: rgba(blue, .5);
    }

    &__slider-item {
        overflow: visible !important;
    }

    &__slider-img {
        display: block;
        width: var(--screenshot-width);
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    &__slider-next {
        right: 0;

        &::after {
            content: '';
        }

        svg {
            stroke: #FFF;
            transition: stroke .5s ease;

            &:hover {
                stroke: $accent-color;
            }
        }
    }

    &__slider-pagination {
        max-width: var(--screenshot-width) !important;

        .swiper-pagination-bullet {
            position: relative;
            width: 14px;
            height: 14px;
            margin: 0 26px !important;
            border: 1.3px solid #FFF;
            background-color: transparent;
            opacity: 1;
            transition: background .5s ease, border .5s ease;
        }

        .swiper-pagination-bullet:hover {
            border: 1.3px solid $accent-color;
        }

        .swiper-pagination-bullet::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            height: 2px;
            width: 0;
            background-color: #FFF;
            transition: width .5s ease;
        }

        .swiper-pagination-bullet-active {
            background-color: #FFF;
            cursor: auto;
        }

        .swiper-pagination-bullet-active:hover {
            border: 1.3px solid white;
        }

        .swiper-pagination-bullet-active:after {
            width: 26px;
        }
    }
}

.features {
    background: url(../images/features-gradient.png) 0 0 / cover no-repeat, url(../images/features-bg.jpg) top / cover no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 410px;
        margin: 0 100px 0 auto;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        // margin-top: 20px;
    }

    &__tablist {
        min-height: 450px;
    }

    &__tablist-item {
        margin-top: 35px;
        padding-left: 44px;
        overflow: hidden;
    }

    &__tablist-input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    &__tablist-input:checked {
        + .features__tablist-point {
            cursor: default;

            &::before {
                background-color: #FFF;                
            }

            &::after {
                // height: 100%;
                height: 200px;
            }
        }

        ~ .features__tablist-desc {
            max-height: 100vh;
        }
    }

    &__tablist-point {
        @extend %h3-font;
        margin-bottom: 7px;
        position: relative;
        cursor: pointer;
        transition: all .5s ease;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -44px;
            transform: translateY(-50%);
            width: 14px;
            height: 14px;
            border: 1.3px solid #FFF;
            border-radius: 50%;
            transition: background .5s ease, border .5s ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: -38px;
            width: 2px;
            height: 0;
            background-color: #FFF;
            transition: all .5s ease;
        }

        &:hover {
            color: darken($accent-color, 10%);
        }
    }

    &__tablist-desc {
        max-height: 0;
        transition: all .5s ease;
    }
}

.requirements {
    background: url(../images/requirements-gradient.png) center / cover no-repeat, url(../images/requirements-bg.jpg) bottom / cover no-repeat;

    &__area {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &__heading {
        text-align: center;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__title {
    }

    &__subtitle {
        
    }

    &__table {
        max-width: 610px;
        border-collapse: collapse;
        
        td {
            padding: 15px 20px 35px;
            border: 1px solid #979797;
        }
    }

    &__equipment {
        @extend %h4-font;
        color: $accent-color;
        margin-bottom: 10px;
    }
}

.quotes {
    background: url(../images/quotes-gradient.png) 0 0 / cover no-repeat, url(../images/quotes-bg.jpg) bottom / cover no-repeat;

    &__area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        max-width: 435px;
        margin-right: 30px;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__text {
        margin-bottom: 60px;
    }

    &__btn {
        padding: 19px 35px;
        margin-bottom: 30px;
    }

    &__card {
        margin-left: auto;
    }

    &__card:nth-child(2) {
        position: relative;
        margin-right: 140px;
    }

    &__card:nth-child(3) {
        position: relative;
        margin-right: 40px;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    padding: 95px 0 50px;
    background-color: rgba(255, 255, 0, .5);

    .head {
        background-color: rgba(0, 255, 255, .5);
    }

    .body {
        display: flex;
        align-items: center;
        background-color: rgba(255, 0, 255, .5);
    }
}

.footer {
    &__area {
        display: grid;
        grid-template-rows: 1fr auto auto;
    }

    &__newsletter {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 100%;
        min-height: 65vh;
        height: 100%;
        margin-right: auto;
        background:  url(../images/footer-bg.png) right center / cover no-repeat;
    }

    &__body {
        margin-left: clamp(20px, 8.33vw, 100px);
        max-width: 660px;
    }

    &__content {
    }

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 65px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    &__form-label {
        position: relative;
        max-width: 57%;
        width: 100%;
        height: 60px;
        margin-right: 15px;
        @extend %subtext-font;
        cursor: text;

        &::before {
            content: 'Your email address';
            position: absolute;
            top: 6px;
            left: 20px;
        }
    }

    &__form-email {
        width: 100%;
        height: 100%;
        padding: 25px 20px 8px;
        border: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.08);
        color: $accent-color;
    }

    &__form-btn {
        min-width: 190px;
        width: 40%;
        padding: 18px 35px;
    }

    &__nav {
        
    }

    &__logo-img {
        width: 90px;
        height: 90px;
    }

    &__social {
        margin-left: auto;
    }

    &__social-link {
        width: 25px;
        height: 19px;

        margin-left: 0;

        & + & {
            margin-left: 3.33vw;
        }
    }
    
    &__social-img {
        margin: 0 auto;
        fill: #FFF;
    }
    
    &__social-facebook:hover &__social-img {
        fill: #4267B2;
    }

    &__social-twitter:hover &__social-img {
        fill: #1DA1F2;
    }

    &__social-youtube:hover &__social-img {
        fill: #FF0000;
    }

    &__social-twitch:hover &__social-img {
        fill: #6441A4;
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0 5px;
        border-top: 1px solid rgba(#FFF, .5);
    }

    &__copy {
        @extend %subtext-font;
    }

    &__policy-link {
        @extend %navigation-font;
        padding-right: 5px;

        & + & {
            border-left: 1px solid #FFF;
            padding-left: 10px;
        }
    }
}

// .main-wrapper {
//     min-height: 100vh;
//     opacity: 0;
//     transition: opacity .5s ease;

//     &--loaded {
//         opacity: 1;
//     }
// }

// .main-wrapper--loaded {
//     .header {
//         transform: translate(0);
//     }

//     // .page__pagination {
//     //     transform: translate(0, -50%);
//     //     opacity: 1;
//     //     visibility: visible;
//     // }
// }

// .main-wrapper--free {
//     // .page__pagination {

//     // }
// }

// .header {
//     transform: translateY(-200%);
//     background-color: rgba(#000, .5);
//     transition: transform .5s ease .5s;
// }

// .page {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     overflow: hidden;

//     &__wrapper {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         height: 100%;
//     }

//     &__screen {

//     }

//     // &__pagination {
//     //     position: absolute;
//     //     top: 50%;
//     //     right: 50px !important;
//     //     transform: translate(100px, -50%);
//     //     transition: transform .5s ease .5s;
//     //     opacity: 0;
//     //     visibility: hidden;
//     //     display: flex;
//     //     flex-direction: column;
//     // }

//     // &__bullet {
//     //     width: 15px;
//     //     height: 15px;
//     //     cursor: pointer;
//     //     background-color: rgba(#000, .5);
//     //     margin: 10px 0;
//     //     border-radius: 50%;
//     //     transition: background-color .3s ease 0s;
//     // }

//     // &__bullet--active {
//     //     background-color: #FFF;
//     // }

//     &__scroll {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 5px;
//         height: 100%;
//         background-color: rgba(#000, .2);
//     }

//     &__drag-scroll {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         background-color: rgba(#000, .8);
//         cursor: pointer;
//         border-radius: 5px;
//     }
// }

// .screen {
//     flex: 1 0 100%;
//     position: relative;

//     &__content {
//         padding: 95px 15px 50px;
//         position: relative;
//         z-index: 2;
//     }

//     &__title {
//         display: inline-block;
//         margin-bottom: 30px;
//         font-size: 50px;
//     }

//     &__title--bg {
//         background-color: rgba(#000, .5);
//         padding: 15px;
//     }

//     &__body {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         overflow: hidden;
//     }

//     &__img-box {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         overflow: hidden;
//     }

//     &__img {
//         object-fit: cover;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         overflow: hidden;
//     }

//     &__text {
//         font-size: 20px;
//         line-height: 1.3;
//     }

//     &__paragraph + &__paragraph {
//         margin-top: 20px;
//     }
// }

.main-wrapper {
    min-height: 100vh;
    opacity: 0;
    transition: opacity .5s ease;

    &--loaded {
        opacity: 1;
    }
}

.main-wrapper--loaded {
    .header {
        transform: translate(0);
    }

    .page__pagination {
        transform: translate(0, -50%);
        opacity: 1;
        visibility: visible;
    }
}

.main-wrapper--free {
    .page__pagination {

    }
}

.header {
    transform: translateY(-200%);
    background-color: rgba(#000, .5);
    transition: transform .5s ease .5s;
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // overflow: hidden;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__screen {
        overflow-y: auto;
    }

    &__pagination {
        position: absolute;
        top: 50%;
        right: 50px !important;
        transform: translate(100px, -50%);
        transition: transform .5s ease .5s;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }

    &__bullet {
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: rgba(#000, .5);
        margin: 10px 0;
        border-radius: 50%;
        transition: background-color .3s ease 0s;
    }

    &__bullet--active {
        background-color: #FFF;
    }

    &__scroll {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        background-color: rgba(#000, .2);
    }

    &__drag-scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(#000, .8);
        cursor: pointer;
        border-radius: 5px;
    }
}

.screen {
    flex: 1 0 100%;
    position: relative;

    &__content {
        padding: 95px 15px 50px;
        position: relative;
        z-index: 2;
    }

    &__title {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 50px;
    }

    &__title--bg {
        background-color: rgba(#000, .5);
        padding: 15px;
    }

    &__body {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__img-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__text {
        font-size: 20px;
        line-height: 1.3;
    }

    &__paragraph + &__paragraph {
        margin-top: 20px;
    }
}

@import 'media';